{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>FitStop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
  </head>
  <body>
    <section>
      <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>

        {% if error_message %}
        <b class="error"> {{ error_message }} </b>
        {% endif %}

        <button type="submit">Log In</button>
      </form>
    </section>
  </body>
</html>
